PORT=4000
NODE_ENV=development
MONGO_URIss=mongodb://localhost:27017/student_admin_auth
MONGO_URI=mongodb+srv://buildoratechnologies_db_user:buildoratechnology%40password%40admin@cluster0.iwelqys.mongodb.net/secretcalc?retryWrites=true&w=majority
JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
LOG_LEVEL=info

